html, body {
  background: #F22F46;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cupcake-ops {
  height: 90%;
  width: 90%;
  padding: 0 10px;
  background: url('./assets/wallpaper.jpg');
  background-repeat: repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7), 0px 2px 20px rgba(0, 0, 0, 0.4);
}

h1 {
  color: #fff;
  font-size: 4em;
}
.waiting {
  color: #fff;
}
button.action-button {
  cursor: pointer;
  position: relative;
  padding: 1.5rem 2.5rem;
  border-radius: 5rem;
  line-height: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  margin-right: .3rem;
  margin-bottom: 2rem;
  border: 1px solid #8855c2;
  background-image: linear-gradient(149deg, rgba(136,85,194,1) 0%, rgba(190,134,255,1) 46%, rgba(164,52,199,1) 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.5), 0 -0.25rem 1.5rem #6e0f9b inset, 0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset, 0 0.25rem 0.5rem 0 #b446cf inset;
}
button.action-button:hover {
  background-image: linear-gradient(149deg, rgba(129,72,193,1) 0%, rgba(172,111,242,1) 46%, rgba(161,40,199,1) 100%);
  box-shadow: 0 2rem 3rem 0 rgba(22, 75, 195, 0.5), 0 -0.25rem 1.5rem #6e0f9b inset, 0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset, 0 0.25rem 0.5rem 0 #b446cf inset;
}

button.action-button:focus {
  background-image: linear-gradient(149deg, rgba(115,44,195,1) 0%, rgba(159,84,245,1) 46%, rgba(158,26,199,1) 100%);
  box-shadow: 0 2rem 3rem 0 rgba(22, 75, 195, 0.5), 0 -0.25rem 1.5rem #6e0f9b inset, 0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset, 0 0.25rem 0.5rem 0 #b446cf inset;
}

button.action-button span {
  color: transparent;
  background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-filter: drop-shadow(0 2px 2px #550066);
          filter: drop-shadow(0 2px 2px #550066);
}
.terminal-window {
  text-align: left;
  width: 98%;
  height: 90%;
  border-radius: .625rem;
  margin: auto;
  position: relative;
}

.terminal-window header {
  background: #E0E8F0;
  height: 1.875rem;
  border-radius: .5rem .5rem 0 0;
  padding-left: .625rem;
}

.terminal-window header .button {
  width: .75rem;
  height: .75rem;
  margin: .625rem .25rem 0 0;
  display: inline-block;
  border-radius: .5rem;
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 25pt;
  background: #30353A;
  padding: 1.625rem 1.625rem 3rem 1.625rem;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 1.875rem;
  bottom: 0;
  overflow: auto;
  border-radius: 0 0 .5rem .5rem;
}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}